html, body {
  background-color: #1C1C1C;
  color: #707070;
  border: 0;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  max-width: 1400px;
  margin: auto;
}

.container {
  display: flex;
  /* max-width: 1140px; */
  /* margin: 0 auto; */
}