main {
  margin-top: 150vh;
  margin-bottom: 80vh;
  margin-left: 10%;
  min-width: 0;
  width: 1px; /* to enbable scroll */
}

main section {
  border: 1px solid #707070;
  padding: 3rem;
  width: 70%;
}